JWT_SECRET=your_jwt_secret
EMAIL_USER=your_email
EMAIL_PASS=your_email_password
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
TWILIO_MESSAGING_SERVICE_SID=your_messaging_service_sid
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret


DB_USERNAME=root
DB_PASSWORD=Password01$
DB_NAME=nextech
DB_HOST=127.0.0.1
DB_DIALECT=mysql
DB_TIMEZONE=+05:30

REDIS_EXP="10m"
REDIS_EXP_OTP="5m"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXP="3d"
ACCESS_TOKEN_SECRET="your_access_token_secret"
ACCESS_TOKEN_EXP="15m"

INFOBIP_API_KEY=your_infobip_api_key
INFOBIP_BASE_URL=your_infobip_base_url
